// var $red = rgba(255,0,0,0.7);
@import "./no-need/var";
h1{
	color: $red;
	background: $purple;
}
body{
	color: $green;
	font-family: cursive2;
	color: #9e946e;
	font-size: 120%;
	padding-right: .1em;
}
@font-face {
  font-family: cursive2;
  src: url(assets/cursive.ttf);
}
