/*
http://www.w3schools.com/cssref/css3_pr_mediaquery.asp
https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
*/
@media screen and (max-width: 320px){
    .type-bg {
        width: 200px;
        height: 30px;
        margin: 0 auto;
        background: rgba(0,0,0,1);
        color: rgba(0,255,0,1);
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.7);
        cursor: alias;
    }
}