doctype html
html(lang="en")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1,user-scalable=no")
		meta(charset="UTF-8")
		link(rel="" href="")
		title React Project
	body
		header
			h1 React && React native 
			nav
				ul
					li*3
		main
			section*3
		aside
			ul
				li*3
		footer
			div
				span(copyright @ xgqfrms 2016)
		script(src="./js/main.js")
		//- /builds/development
		//- /builds/production

