doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width, initial-scale=1,user-scalable=no")
		link(rel="stylesheet" href="./css/common.css")
		title React Project
	body
		header
			h1 React && React native 
			nav
				ul
					li: span this is a span
					//emmet li*3 ??? for/each
		main
			section
				div.app
				// .app
				//- react enter port
				.div-p: p "hello, @font-face"
		aside
			ul
				li
					a: i this is a i(font-icon)
		footer
			div
				span(copyright @ xgqfrms 2016)
		script(src="./js/main.js")
		//- /builds/development/index.html
		//- /builds/production/js/main.js
        //- /builds/production/js/app.js

