/* line 3, G:/wwwRoot/React/src/sass/common.scss */
h1 {
  color: #ff0000;
  background: #ff00ff; }

/* line 7, G:/wwwRoot/React/src/sass/common.scss */
body {
  color: #00ff00;
  font-family: cursive2;
  color: #9e946e;
  font-size: 120%;
  padding-right: .1em; }

@font-face {
  font-family: cursive2;
  src: url(assets/cursive.ttf); }
