/* line 3, G:/wwwRoot/React/src/sass/common.scss */
h1 {
  color: #00ff00;
  background: #ff00ff; }

/* line 7, G:/wwwRoot/React/src/sass/common.scss */
body {
  color: #00ff00;
  color: #9e946e;
  font-size: 120%;
  padding-right: .1em; }

/* line 14, G:/wwwRoot/React/src/sass/common.scss */
p {
  font-family: cursive;
  font-size: 2em; }

@font-face {
  font-family: cursive;
  src: url(../assets/fonts/cursive.ttf); }
